aws_region            = "ap-south-1"
project_name          = "mentimeter-clone"
environment           = "prod"

frontend_bucket_name  = "your-unique-frontend-bucket-name"
auth_bucket_name      = "your-unique-auth-bucket-name"
data_bucket_name      = "your-unique-data-bucket-name"

allowed_origins = [
  "http://localhost:5500",
  "http://localhost:3000",
  "http://your-frontend-bucket-name.s3-website-ap-south-1.amazonaws.com"
]

auth_token_secret     = "replace-with-a-long-random-secret"
lambda_timeout_seconds = 15
lambda_memory_mb       = 256
